* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    overflow-x: hidden;
  }
  
  .header {
    padding: 60px;
    text-align: center;
    background: tomato;
    color: white;
    height: 100vh;
  }

  .carousel-inner img {
    width: 100%;
    height: 100vh;
    }

  .navbar {
    display: flex;
    background-color: black;
  }
  .navbar li{
      display: inline-flex;
  }
  
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  .navbar a:hover {
    color: grey;
    cursor: pointer;
  }

  .navbar-brand{
    margin: 0 !important;
  }
  
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  .fakeimg {
    background-color: black;
    width: 100%;
    height: 200px;
    padding: 5px;
    position: relative;
    
  }
  .fakeimg img{
    width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: cover;
    -moz-object-fit: cover;
    -webkit-object-fit:cover;
    -o-object-fit: cover;
  }


.gallery{
  padding: 20px;
  /* display: flex; */
  align-items: flex-start;
  background-color: aliceblue;
}

.image-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;  
  padding-top: 40px;;
}

.image-holder{
  flex-basis: 10rem;
}

.image-box img{
  margin: 10px;
  border: 3px solid #000;
  max-width: 100%;
  object-fit: cover;
}

/* .gallery-item {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.gallery-item img{
  position: relative;
  display: flex;

} */
  
  .footer {
    padding: 20px;
    text-align: center;
    background: black;
    color: white;
  }
  
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
  }

/* tab panel  */

.project-tab {
  padding: 10px;
}


.project-tab #tabs{
  background: green;
  color: #eee;
}
.project-tab #tabs h6.section-title{
  color: #eee;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #495057;
  background-color: transparent !important;
  border-color: #dee2e6 #dee2e6 #fff;
  border: none !important;
}
.project-tab #tabs 
.nav-tabs 
.nav-item.show 
.nav-link, 
.nav-tabs 
.nav-link.active {
  color: black;
  background-color: transparent;
  border-color: transparent transparent grey;
  border-bottom: 3px solid !important;
  font-size: 16px;
  font-weight: bold;
}
.project-tab .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  color: black;
  font-size: 16px;
  font-weight: 600;
}
.project-tab .nav-link:hover {
  border: none;
}
.project-tab thead{
  background: #f3f3f3;
  color: #333;
}
.project-tab a{
  text-decoration: none;
  color: #333;
  font-weight: 600;
}


/* index page css */

.flex-items{
    display: flex;
    flex-direction: row;
}
.item-0{
    order: -1;    
}

.item-1{
    order: 1;
}

.item-2{
    order: 2;
}

.item-3{
    order: 3;
}

.item-4{
    order: 4;
}

/* wrap demo */

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display:flex;
    justify-content: center;

  }
  
  .wrap-demo{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
  }
  
  .nowrap  { 
    flex-wrap: nowrap;
  }
  
  .nowrap li{
      background: tomato;
  }
  .wrap    { 
    flex-wrap: wrap;
  }  
  .wrap li {
    background: gold;
  }
  
  .wrap-reverse         { 
    -webkit-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }  
  .wrap-reverse li {
    background: deepskyblue;
  }
  
  .flex-item {
    padding: 5px;
    width: 100px;
    height: 100px;
    margin: 10px;
    
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
  }

